<md-dialog aria-label="Mango (Fruit)" ng-app="BlankApp" ng-controller="cntr">
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Select Location</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          x
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <md-input-container flex-offset=5>
      <label>Select Location</label>
        <md-select ng-model="locations">
          <md-option ng-repeat="location in locations">{{location}}</md-option>
        </md-select>
      </md-input-container>

    </md-dialog-content>
    <md-dialog-actions layout="row">
    </md-dialog-actions>
  </form>
</md-dialog>
