<div class="upper_header" layout="row" layout-align="end">
     <div flex-offset="10">
       <md-icon class="material-icons" style="color:white" >account_circle</md-icon>
         <md-button class="white-text"> Pooja Singh</md-button>
    </div>
     <div>
      <span style="color:grey">|</span>
      <md-button class="md-accent" ui-sref="Home"> Sign Out</md-button>
    </div>
    </div>
    <div id="header" layout="row"  style="margin-bottom:5px;" >
      <div flex="30" layout-align="start center">
      <img ng-src="/assets/logo.png" alt="" style="height:60px; width:300px;padding-left:20px;padding-top:10px"/>
    </div>
      <div flex="25" flex-offset="10" layout-align="center center">
        <!-- <img ng-src="/assets/Levi's_logo.png" alt="" style="height:50px; width:200px;padding-left:20px; padding-top:10px"/> -->
      </div>
        <div flex="10" flex-offset="25" layout-align="center end" style="margin-top:30px">
        <!-- <md-icon class="material-icons" style="font-size:18px" >domain</md-icon><span class="md-title">Orion Mall</span> -->
      </div>
    </div>
