<div >
  <div id="mySidenav" class="sidenav" layout-padding >
    <md-button class="md-primary" ui-sref="createManagerAdmin" style="padding-left:15px;">Create Mall/ShopManager</md-button>
    <md-divider />
    <md-button class="md-primary" ui-sref="transactionsPerDayAdmin">Transactions Per Day</md-button>
    <md-divider />
    <md-button class="md-primary" ui-sref="transactionsMallWiseAdmin">Transactions Mall Wise</md-button>
    <md-divider />
    <md-button class="md-primary" ui-sref="transactionsPerMonthAdmin">Transactions Per Month</md-button>
    <md-divider />
    <md-button class="md-primary" ui-sref="graphViewAdmin">Transactions Graph View</md-button>
    <md-divider />
    <md-button class="md-primary" ui-sref="viewBillSummary">View Bill Summary</md-button>
    <md-divider />
    <md-button class="md-primary" ui-sref="sendCommunicationAdmin">Send Communication</md-button>
    <md-divider />
  </div>
</div>
