.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 100%;
      margin: auto;
}
h1,h2,h3,h4,h5,h6{
  margin: auto;
}

#header{
  /*margin-top: 20px;*/
  background-color: #DCDCDC;
  height: 15%;
}

.upper_header{
  background-color: black;
}

.white-text{
  color:white !important;
}

#mainContent{
  /*margin-top: 50px;*/
  height:150%;
}
#offerButton{
  background-color: #09B2D6;
  color:white;
  /*margin-left: 80px;*/
}
#offertoolbar{
  background-color: #9E9E9E;
  text-align: center;
  font-size: 26px;
  padding: 10px;
  color: rgb(78, 81, 70);
  font-weight: bold;

}
#footer{
   background-color: #DCDCDC;
   overflow: auto;
}
#inputText{

  background-color: white;
  width: 80%;
  height: 40px;
}
#footer span{
  color:#8C8C88;
}
.exploreBox{
  border-radius: 5px;
  border:1px solid black;
  background-color: white;
  width:460px;
  padding: 5px;
  z-index: 10px;
  position: absolute;
  font-size: 14px;
  font-weight: bold;
}
#exploreDropbox{
  width: 200px;
  font-weight: bold;
  margin-left: 50px;
  font-size: 16px;
  z-index: 1;
}
.spanExplore{

  padding-left: 5px;
  padding-right: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.sendButton{
  font-size:40px;
  background-color: #09B2D6;
}
md-input-container{
  margin: 0;
}
md-card{

}


#uploadEvent{

  padding: 5% 20% 0 25%;
}
#mySidenav > a > h4{
  padding-bottom: 10px;
  color: grey;
}
#mySidenav{
  width:240px;
  float: left;
  padding: 0px;
  background-color:#d6d6c2;
  min-height:90vh;
}

/*category checkbox*/
HTMLJSCSS
.checkboxdemoSelectAll .demo-legend {
  color: #3F51B5; }

.checkboxdemoSelectAll .demo-fieldset {
  border-style: solid;
  border-width: 1px;
  height: 100%; }

.checkboxdemoSelectAll .demo-select-all-checkboxes {
  padding-left: 30px; }
