<div >
  <div id="mySidenav" class="sidenav" layout-padding >
    <md-button class="md-primary" ui-sref="mallManager" style="padding-left:15px;">Upload Events</md-button>
    <md-divider />
    <md-button class="md-primary" ui-sref="transactionsPerDay">Transactions Per Day</md-button>
    <md-divider />
    <md-button class="md-primary" ui-sref="transactionsPerMonth">Transactions Per Month</md-button>
    <md-divider />
    <md-button class="md-primary" ui-sref="sendCommunication">Send Communication</md-button>
    <md-divider />
  </div>
</div>
