<div id="uploadEvent">
  <form class="col-lg-12">
    <div class="form-group">
      <label class="">Event Name</label>
      <input class="form-control" type="text" name="event_name" value="">
    </div>
    <br>
    <div class="form-group">
      <label class="">Event Description</label>
      <input class="form-control" type="text" name="event_desc" value="">
    </div>
    <br>
    <div class="form-group">
      <label class="">Upload Event Images</label>
      <input class="form-control" type="file" name="event_images" value="">
    </div>
    <br>

    <div class="form-group">
      <label class="">Event StartDate</label>
      <input class="form-control" type="Date" name="event_StartDate" value="">
    </div>
    <br>
    <div class="form-group">
      <label class="">Event EndDate</label>
      <input class="form-control" type="Date" name="event_EndDate" value="">
    </div>
    <br>
    <md-button class="md-raised" name="">Upload Event</md-button>
  </form>

</div>
